@{
    ViewData["Title"] = "Home";
}
<script src="./js/components/bulkUrlLoader.js" type="module" defer></script>
<script src="./js/components/actionPanel.js" type="module" defer></script>


<div id="control-panel" class="container  p-3">
    <div class="d-flex justify-content-start gap-5">
        <div id="bulk-url-action">
            <div class="title-bar fw-bold">Bulk URL Loader</div>
            <form action="" class="title-sub-container d-flex align-items-center p-2 pt-3">
                <textarea name="url-box" id="url-box" cols="50" rows="8" placeholder="page IDs, urls"></textarea>
                <button id="go-to-url">Go</button>
            </form>
        </div>
        <div id="action-panel">
            <div class="title-bar fw-bold">Action Panel</div>
            <div class="title-sub-container p-2 pt-3 d-flex flex-column justify-content-start gap-2">
                <form action="" class="mx-2" id="action-variable-input-form">
                    <input type="text" name="action-variable-input" class="copy-text" id="action-variable-input"
                           placeholder="page ID, CSS selector, JavaScript">
                    <button class="btn btn-success copy-btn">Copy</button>
                </form>
                <div class="horizontal-line"></div>
                <div class="button-group">
                    <button id="start-btn" class="btn btn-success fw-bold mx-2">START</button>
                    <button id="css-btn" class="btn btn-primary fw-bold mx-2">CSS</button>
                    <button id="js-btn" class="btn btn-warning fw-bold mx-2">JavaScript</button>
                </div>

                <div class="horizontal-line"></div>
            </div>


        </div>
    </div>
</div>

<div id="content-panel" class="container text-white">
    <div class="row">
        <div class="col-3 bg-warning">
            Column
        </div>
        <div class="col-6 bg-secondary">
            Column
        </div>
        <div class="col-3 bg-success">
            Column
        </div>
    </div>
</div>